* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: lightgray;
    padding-top: 80px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1px 5px;
    color: #ff8c42;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo img {
    max-width: 25%;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin-right: 20px;
}

nav a {
    color: #ff8c42;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: #808080;
}

.principal-imagen {
    width: 100%;
    height: 540px;
}

.contenedor-buscar-destino{
    background-color: lightgray;
    border-top: 3px solid orange;
}

.contenedor-imagen-packs{
    background-color: white;
    justify-content: center;
}

.contenedor-packs-viaje{
    background-color: white;
}

.contenedor-packs-viaje, .contenedor-buscar-destino {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.contenedor-packs-viaje, .contenido-buscar-destino {
    flex: 1;
    text-align: left;
    padding: 2rem;
}

.contenedor-imagen-packs, .contenedor-imagen-buscar {
    flex: 1;
    display: flex;
}

.imagen-packs, .imagen-buscar {
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: #ff8c42;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.contenedor-imagen-buscar {
    margin: 30px;
}

.btn:hover {
    background-color: #ff8c42;
}

footer {
    background: #ff8c42;
    padding: 1.5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconos-sociales {
    display: flex;
    gap: 1rem;
}

.iconos-sociales img {
    width: 28px;
}

footer p {
    color: black;
    font-size: 0.9rem;
    margin-left: 58%;
}